## Preprocessing

In [24]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [26]:
application_df["NAME"].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [27]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [29]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [30]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [32]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [33]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [34]:
# You may find it helpful to look at CLASSIFICATION value counts >1
value_counts = application_df["CLASSIFICATION"].value_counts()

value_counts_filtered = value_counts[value_counts>1]

value_counts_filtered

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [35]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df.CLASSIFICATION.value_counts()[application_df.CLASSIFICATION.value_counts() < 1883].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [36]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
name_to_replace = list(application_df.NAME.value_counts()[application_df.NAME.value_counts() < 300].index)

# Replace in dataframe
for cls in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                              29662
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
Name: NAME, dtype: int64

In [38]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOPS CLUB INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [39]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(["IS_SUCCESSFUL"],1).values
y = application_df["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

<ipython-input-39-7f626a88d700>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [40]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                4240

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,701
Trainable params: 6,701
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [44]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints_optimized_v3/",exist_ok=True)
checkpoint_path = "checkpoints_optimized_v3/weights.{epoch:02d}.hdf5"

In [45]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = checkpoint_path,
    verbose = 1,
    save_weights_only = True,
    save_freq = 4000)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7302
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5232 - accuracy: 0.7405
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5199 - accuracy: 0.7421
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5173 - accuracy: 0.7454
Epoch 5/100
761/804 [===========================>..] - ETA: 0s - loss: 0.5156 - accuracy: 0.7455
Epoch 5: saving model to checkpoints_optimized_v3/weights.05.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5158 - accuracy: 0.7448
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5153 - accuracy: 0.7463
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5145 - accuracy: 0.7455
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5135 - accuracy: 0.7472
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5126 - accuracy: 0.7469
Epoch 10/100
759/804 [===========================>..] - ETA: 0s - loss: 0.5125 - accuracy: 0.7474
Epoch 10: saving model to checkpoints_optimized_v3/weights.10.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5120 - accuracy: 0.7473
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5116 - accuracy: 0.7487
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5116 - accuracy: 0.7491
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5111 - accuracy: 0.7480
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5101 - accuracy: 0.7483
Epoch 15/100
708/804 [=========================>....] - ETA: 0s - loss: 0.5103 - accuracy: 0.7492
Epoch 15: saving model to checkpoints_optimized_v3/weights.15.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5103 - accuracy: 0.7491
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5098 - accuracy: 0.7485
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5100 - accuracy: 0.7496
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5091 - accuracy: 0.7505
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5092 - accuracy: 0.7500
Epoch 20/100
700/804 [=========================>....] - ETA: 0s - loss: 0.5088 - accuracy: 0.7497
Epoch 20: saving model to checkpoints_optimized_v3/weights.20.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5084 - accuracy: 0.7501
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5086 - accuracy: 0.7507
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5082 - accuracy: 0.7505
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5083 - accuracy: 0.7508
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5077 - accuracy: 0.7511
Epoch 25/100
670/804 [========================>.....] - ETA: 0s - loss: 0.5071 - accuracy: 0.7509
Epoch 25: saving model to checkpoints_optimized_v3/weights.25.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5075 - accuracy: 0.7503
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5073 - accuracy: 0.7510
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5068 - accuracy: 0.7516
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5068 - accuracy: 0.7518
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5072 - accuracy: 0.7516
Epoch 30/100
660/804 [=======================>......] - ETA: 0s - loss: 0.5056 - accuracy: 0.7522
Epoch 30: saving model to checkpoints_optimized_v3/weights.30.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5059 - accuracy: 0.7517
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5065 - accuracy: 0.7518
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5057 - accuracy: 0.7519
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5061 - accuracy: 0.7521
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5062 - accuracy: 0.7507
Epoch 35/100
636/804 [======================>.......] - ETA: 0s - loss: 0.5045 - accuracy: 0.7526
Epoch 35: saving model to checkpoints_optimized_v3/weights.35.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5064 - accuracy: 0.7522
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5057 - accuracy: 0.7518
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5059 - accuracy: 0.7524
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5051 - accuracy: 0.7525
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5051 - accuracy: 0.7524
Epoch 40/100
624/804 [======================>.......] - ETA: 0s - loss: 0.5051 - accuracy: 0.7522
Epoch 40: saving model to checkpoints_optimized_v3/weights.40.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5056 - accuracy: 0.7524
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5048 - accuracy: 0.7526
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5052 - accuracy: 0.7516
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5049 - accuracy: 0.7521
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5044 - accuracy: 0.7525
Epoch 45/100
580/804 [====================>.........] - ETA: 0s - loss: 0.5031 - accuracy: 0.7553
Epoch 45: saving model to checkpoints_optimized_v3/weights.45.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5049 - accuracy: 0.7524
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5046 - accuracy: 0.7525
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5046 - accuracy: 0.7521
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5046 - accuracy: 0.7517
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5049 - accuracy: 0.7530
Epoch 50/100
595/804 [=====================>........] - ETA: 0s - loss: 0.5043 - accuracy: 0.7518
Epoch 50: saving model to checkpoints_optimized_v3/weights.50.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5042 - accuracy: 0.7524
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5044 - accuracy: 0.7522
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5035 - accuracy: 0.7529
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5039 - accuracy: 0.7531
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5039 - accuracy: 0.7522
Epoch 55/100
561/804 [===================>..........] - ETA: 0s - loss: 0.5028 - accuracy: 0.7551
Epoch 55: saving model to checkpoints_optimized_v3/weights.55.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5038 - accuracy: 0.7533
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5037 - accuracy: 0.7526
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5038 - accuracy: 0.7533
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5037 - accuracy: 0.7519
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5032 - accuracy: 0.7524
Epoch 60/100
532/804 [==================>...........] - ETA: 0s - loss: 0.5029 - accuracy: 0.7518
Epoch 60: saving model to checkpoints_optimized_v3/weights.60.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5032 - accuracy: 0.7528
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5031 - accuracy: 0.7527
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5030 - accuracy: 0.7526
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5027 - accuracy: 0.7526
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5033 - accuracy: 0.7531
Epoch 65/100
530/804 [==================>...........] - ETA: 0s - loss: 0.4995 - accuracy: 0.7560
Epoch 65: saving model to checkpoints_optimized_v3/weights.65.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5028 - accuracy: 0.7527
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5030 - accuracy: 0.7525
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5028 - accuracy: 0.7531
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5027 - accuracy: 0.7539
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5030 - accuracy: 0.7525
Epoch 70/100
499/804 [=================>............] - ETA: 0s - loss: 0.5054 - accuracy: 0.7497
Epoch 70: saving model to checkpoints_optimized_v3/weights.70.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5028 - accuracy: 0.7526
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5028 - accuracy: 0.7525
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5026 - accuracy: 0.7533
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5023 - accuracy: 0.7535
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5026 - accuracy: 0.7535
Epoch 75/100
473/804 [================>.............] - ETA: 0s - loss: 0.5023 - accuracy: 0.7503
Epoch 75: saving model to checkpoints_optimized_v3/weights.75.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5024 - accuracy: 0.7526
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5020 - accuracy: 0.7528
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5019 - accuracy: 0.7524
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5023 - accuracy: 0.7531
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5021 - accuracy: 0.7533
Epoch 80/100
451/804 [===============>..............] - ETA: 0s - loss: 0.5036 - accuracy: 0.7522
Epoch 80: saving model to checkpoints_optimized_v3/weights.80.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5021 - accuracy: 0.7534
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5017 - accuracy: 0.7532
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5019 - accuracy: 0.7526
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5021 - accuracy: 0.7528
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5020 - accuracy: 0.7537
Epoch 85/100
439/804 [===============>..............] - ETA: 0s - loss: 0.4984 - accuracy: 0.7574
Epoch 85: saving model to checkpoints_optimized_v3/weights.85.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5020 - accuracy: 0.7537
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5017 - accuracy: 0.7540
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5019 - accuracy: 0.7523
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5018 - accuracy: 0.7532
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5013 - accuracy: 0.7529
Epoch 90/100
440/804 [===============>..............] - ETA: 0s - loss: 0.5039 - accuracy: 0.7485
Epoch 90: saving model to checkpoints_optimized_v3/weights.90.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5015 - accuracy: 0.7532
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5019 - accuracy: 0.7545
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5015 - accuracy: 0.7533
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5015 - accuracy: 0.7535
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5014 - accuracy: 0.7545
Epoch 95/100
395/804 [=============>................] - ETA: 0s - loss: 0.4986 - accuracy: 0.7560
Epoch 95: saving model to checkpoints_optimized_v3/weights.95.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5014 - accuracy: 0.7537
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5014 - accuracy: 0.7539
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5014 - accuracy: 0.7533
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5008 - accuracy: 0.7535
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5013 - accuracy: 0.7540
Epoch 100/100
399/804 [=============>................] - ETA: 0s - loss: 0.5009 - accuracy: 0.7552
Epoch 100: saving model to checkpoints_optimized_v3/weights.100.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5008 - accuracy: 0.7543

In [46]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5289 - accuracy: 0.7395 - 273ms/epoch - 1ms/step
Loss: 0.5288789868354797, Accuracy: 0.7394751906394958

In [47]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')