## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df["NAME"].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
value_counts = application_df["CLASSIFICATION"].value_counts()

value_counts_filtered = value_counts[value_counts>1]

value_counts_filtered

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df.CLASSIFICATION.value_counts()[application_df.CLASSIFICATION.value_counts() < 1883].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
name_to_replace = list(application_df.NAME.value_counts()[application_df.NAME.value_counts() < 10].index)

# Replace in dataframe
for cls in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(["IS_SUCCESSFUL"],1).values
y = application_df["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

<ipython-input-12-7f626a88d700>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                21360

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 23,821
Trainable params: 23,821
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints_optimized_v3/",exist_ok=True)
checkpoint_path = "checkpoints_optimized_v3/weights.{epoch:02d}.hdf5"

In [17]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = checkpoint_path,
    verbose = 1,
    save_weights_only = True,
    save_freq = 4000)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4784 - accuracy: 0.7687
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4455 - accuracy: 0.7830
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4422 - accuracy: 0.7865
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4388 - accuracy: 0.7874
Epoch 5/100
775/804 [===========================>..] - ETA: 0s - loss: 0.4367 - accuracy: 0.7881
Epoch 5: saving model to checkpoints_optimized_v3/weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.4370 - accuracy: 0.7879
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4362 - accuracy: 0.7877
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4351 - accuracy: 0.7896
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4347 - accuracy: 0.7908
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4336 - accuracy: 0.7902
Epoch 10/100
745/804 [==========================>...] - ETA: 0s - loss: 0.4336 - accuracy: 0.7898
Epoch 10: saving model to checkpoints_optimized_v3/weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4330 - accuracy: 0.7905
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4324 - accuracy: 0.7898
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4317 - accuracy: 0.7924
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4311 - accuracy: 0.7912
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7923
Epoch 15/100
729/804 [==========================>...] - ETA: 0s - loss: 0.4305 - accuracy: 0.7920
Epoch 15: saving model to checkpoints_optimized_v3/weights.15.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.4302 - accuracy: 0.7923
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4296 - accuracy: 0.7930
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4293 - accuracy: 0.7923
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4287 - accuracy: 0.7937
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4286 - accuracy: 0.7936
Epoch 20/100
700/804 [=========================>....] - ETA: 0s - loss: 0.4285 - accuracy: 0.7932
Epoch 20: saving model to checkpoints_optimized_v3/weights.20.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4280 - accuracy: 0.7934
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7944
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7935
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4269 - accuracy: 0.7941
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4261 - accuracy: 0.7952
Epoch 25/100
690/804 [========================>.....] - ETA: 0s - loss: 0.4270 - accuracy: 0.7952
Epoch 25: saving model to checkpoints_optimized_v3/weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7947
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4257 - accuracy: 0.7947
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4257 - accuracy: 0.7955
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4251 - accuracy: 0.7964
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4249 - accuracy: 0.7957
Epoch 30/100
680/804 [========================>.....] - ETA: 0s - loss: 0.4234 - accuracy: 0.7962
Epoch 30: saving model to checkpoints_optimized_v3/weights.30.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.4242 - accuracy: 0.7961
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4243 - accuracy: 0.7952
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4242 - accuracy: 0.7953
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4241 - accuracy: 0.7960
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4236 - accuracy: 0.7958
Epoch 35/100
655/804 [=======================>......] - ETA: 0s - loss: 0.4221 - accuracy: 0.7968
Epoch 35: saving model to checkpoints_optimized_v3/weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7966
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.7964
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4234 - accuracy: 0.7945
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4227 - accuracy: 0.7963
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4224 - accuracy: 0.7954
Epoch 40/100
632/804 [======================>.......] - ETA: 0s - loss: 0.4220 - accuracy: 0.7972
Epoch 40: saving model to checkpoints_optimized_v3/weights.40.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4224 - accuracy: 0.7958
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4220 - accuracy: 0.7965
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4220 - accuracy: 0.7962
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7969
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.7968
Epoch 45/100
600/804 [=====================>........] - ETA: 0s - loss: 0.4216 - accuracy: 0.7962
Epoch 45: saving model to checkpoints_optimized_v3/weights.45.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4216 - accuracy: 0.7965
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4213 - accuracy: 0.7963
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7959
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.7971
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4215 - accuracy: 0.7975
Epoch 50/100
600/804 [=====================>........] - ETA: 0s - loss: 0.4194 - accuracy: 0.7984
Epoch 50: saving model to checkpoints_optimized_v3/weights.50.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4208 - accuracy: 0.7972
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4206 - accuracy: 0.7965
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4203 - accuracy: 0.7969
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.7967
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4205 - accuracy: 0.7973
Epoch 55/100
583/804 [====================>.........] - ETA: 0s - loss: 0.4220 - accuracy: 0.7972
Epoch 55: saving model to checkpoints_optimized_v3/weights.55.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.4200 - accuracy: 0.7977
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4194 - accuracy: 0.7979
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4196 - accuracy: 0.7967
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4194 - accuracy: 0.7974
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4195 - accuracy: 0.7976
Epoch 60/100
539/804 [===================>..........] - ETA: 0s - loss: 0.4167 - accuracy: 0.8000
Epoch 60: saving model to checkpoints_optimized_v3/weights.60.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.7983
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4190 - accuracy: 0.7973
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4191 - accuracy: 0.7969
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7972
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4186 - accuracy: 0.7975
Epoch 65/100
541/804 [===================>..........] - ETA: 0s - loss: 0.4145 - accuracy: 0.8002
Epoch 65: saving model to checkpoints_optimized_v3/weights.65.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.7973
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4186 - accuracy: 0.7972
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4182 - accuracy: 0.7977
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4182 - accuracy: 0.7980
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4183 - accuracy: 0.7981
Epoch 70/100
523/804 [==================>...........] - ETA: 0s - loss: 0.4165 - accuracy: 0.7954
Epoch 70: saving model to checkpoints_optimized_v3/weights.70.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.4183 - accuracy: 0.7979
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4181 - accuracy: 0.7978
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7978
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4180 - accuracy: 0.7979
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4177 - accuracy: 0.7982
Epoch 75/100
490/804 [=================>............] - ETA: 0s - loss: 0.4119 - accuracy: 0.8022
Epoch 75: saving model to checkpoints_optimized_v3/weights.75.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.7983
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4170 - accuracy: 0.7982
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4177 - accuracy: 0.7981
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7983
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7983
Epoch 80/100
462/804 [================>.............] - ETA: 0s - loss: 0.4139 - accuracy: 0.8012
Epoch 80: saving model to checkpoints_optimized_v3/weights.80.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7977
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4172 - accuracy: 0.7985
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4169 - accuracy: 0.7981
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4171 - accuracy: 0.7976
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4164 - accuracy: 0.7984
Epoch 85/100
448/804 [===============>..............] - ETA: 0s - loss: 0.4157 - accuracy: 0.7985
Epoch 85: saving model to checkpoints_optimized_v3/weights.85.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4169 - accuracy: 0.7988
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.7982
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4166 - accuracy: 0.7976
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4160 - accuracy: 0.7980
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4167 - accuracy: 0.7981
Epoch 90/100
428/804 [==============>...............] - ETA: 0s - loss: 0.4103 - accuracy: 0.8031
Epoch 90: saving model to checkpoints_optimized_v3/weights.90.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4165 - accuracy: 0.7980
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4166 - accuracy: 0.7987
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4159 - accuracy: 0.7990
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4161 - accuracy: 0.7987
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.7992
Epoch 95/100
423/804 [==============>...............] - ETA: 0s - loss: 0.4176 - accuracy: 0.7957
Epoch 95: saving model to checkpoints_optimized_v3/weights.95.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.4162 - accuracy: 0.7977
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.7988
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4161 - accuracy: 0.7988
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4159 - accuracy: 0.7988
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4153 - accuracy: 0.7987
Epoch 100/100
378/804 [=============>................] - ETA: 0s - loss: 0.4111 - accuracy: 0.8006
Epoch 100: saving model to checkpoints_optimized_v3/weights.100.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.7987

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4672 - accuracy: 0.7812 - 459ms/epoch - 2ms/step
Loss: 0.4672439396381378, Accuracy: 0.7812244892120361

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')